@model EATApp.Models.studentsession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>studentsession</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SignIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.session.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.Date)
        </dd>
        </dl>


        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.session.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.student.GivenName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignOut)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { student_StudentID = item.student_StudentID, session_sessionID = item.session_sessionID }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

        @*<p>
            @Html.ActionLink("Edit", "Edit", new { student_StudentID = item.student_StudentID, session_sessionID = item.session_sessionID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
