@model IEnumerable<EATApp.Models.studentsession>

@{
    ViewBag.Title = "Class Records";
}

    <h2>Class Records</h2>



@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Employee ID
        </th>
        <th>
            Employee Name
        </th>

        <th>
            Session 1
        </th>
        <th>
            Session 2
        </th>
        <th>
            Total Hours
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.session.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.student_StudentID)
    </td>
    <td>
        @{ var fullName = item.student.GivenName + "    " + item.student.LastName;
            @Html.DisplayFor(modelItem => fullName)}
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SignIn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SignOut)
    </td>
    <td>
        
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { student_StudentID = item.student_StudentID, session_sessionID = item.session_sessionID }) |
        @Html.ActionLink("Edit", "Edit", new { student_StudentID = item.student_StudentID, session_sessionID = item.session_sessionID })
    </td>
</tr>
    }
</table>